<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="myLoggerConfig" class="com.myprojects.springdemo.MyLoggerConfig" init-method="initLogger">
		<property name="rootLoggerLevel" value="FINE" />
		<property name="printedLoggerLevel" value="FINE" />
	</bean>
	
	<context:property-placeholder location="classpath:sports.properties"/>

	<!-- define the dependency -->
	<bean id="theHoroscope" 
		class="com.myprojects.springdemo.HoroscopeAdvice">
	</bean>
	
	<bean id="theStatistic"
		class="com.myprojects.springdemo.StatisticalAdvice">
	</bean>

	<!-- Define your beans here -->
	<!-- Constructor Injection -->
	<!-- remember the constructor for Basketball coach needs a Horoscope object 
	<bean id="myCoach" 
		class="com.myprojects.springdemo.BasketballCoach">
		<constructor-arg ref="theHoroscope"/>
	</bean>
	-->
	
	<!-- Setter Injection 
	<bean id="myCoach"
		class="com.myprojects.springdemo.FootballCoach">
		<property name="statistics" ref="theStatistic"/>
	</bean>
	-->
	
	<!-- Setter Injection with inputted fields" 
	<bean id="myCoach" 
		class="com.myprojects.springdemo.BoxingCoach">
			<property name="statisticalAdvice" ref="theStatistic"/>
			<property name="email" value="boxing@coach.com"/>
			<property name="age" value="27"/>
	</bean>
	-->
	
	<!--Setter injection with values from a properties file -->
	<bean id="myCoach"
		class="com.myprojects.springdemo.BoxingCoach">
			<property name="statisticalAdvice" ref="theStatistic"/>
			<property name="email" value="${boxing.email}"/>
			<property name="age" value="${boxing.age}"/>
	</bean>
			
	

</beans>

